.blue {
    background: #3498db;
    color: #fff;
}
/*.carsoule{
    overflow: visible !important;
}*/
.slick-prev:before, .slick-next:before { 
	font-family: "slick"; 
	font-size: 40px; 
	color: red; 
	line-height: 1; 
	opacity: 0.75; 
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale; 
}
.slides-container{
	width: 1310px;
  	margin-left: auto ;
  	margin-right: auto ;
  	padding: 30px;
}
.col-panel{
	width: 100%;
	margin: 0 auto;
}
/*.col-panel{
	padding-left: 130px;
    padding-right: 30px;
}
.panel-body{
	width: 1414px;
    padding-left: 53px;
    padding-right: 252px;
}
.movie{
	padding-left: 60px;
}
.slick-next{
    padding-right: 36px;
}*/
