.blue {
    background: #3498db;
    color: #fff;
}
/*.carsoule{
    overflow: visible !important;
}*/
.slick-prev:before, .slick-next:before { 
	font-family: "slick"; 
	font-size: 40px; 
	color: red; 
	line-height: 1; 
	opacity: 0.75; 
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale; 
	position: absolute;
	right: 10px;
}
.slick-next:before{
	left: 10px;
}
.slides-container{
  	margin:0 auto ;
  	padding: 30px;
}
a:focus,.slick-slide:focus{
	outline: none;
}

/*.col-panel{
	padding-left: 130px;
    padding-right: 30px;
}
.panel-body{
	width: 1414px;
    padding-left: 53px;
    padding-right: 252px;
}
.movie{
	padding-left: 60px;
}
.slick-next{
    padding-right: 36px;
}*/
